table {
  border-collapse: collapse;
  border-spacing: 0;
}

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 16px;
}

.col {
  flex: 1;
  margin-top: 8px;
}

input[type="text"], select, input[type="number"] {
  margin: 2px;
  min-width: 120px;
  border-radius: 8px;
  border: solid 1px #ccc;
}

input[type="text"]:focus, select:focus, input[type="number"]:focus {
  outline: none;
}

.input-style {
  padding: 8px;
}

h1 {
  color: #4caf50;
  background-color: #333333;
  padding: 8px;
}

a {
  color: #2196f3;
}

a:hover {
  color: #4caf50;
}

button, .custom-file-input::-webkit-file-upload-button {
  margin: 8px;
  background-color: #4caf50;
  padding: 8px;
  outline: none;
  border: none;
  color: #fff;
  min-width: 120px;
  border-radius: 8px;
  font-weight: bold;
}

button:hover, .custom-file-input:hover::before {
  cursor: pointer;
  background-color: #ddd;
}

button:active, .custom-file-input:active::before { 
  background-color: #ccc;
}



p {
  line-height: 1px;
}


.table-render {
  margin-top: 10px
}

.table-render {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table {
  border: solid 1px black;
}

.table-render td, .table-render th {
  padding: 8px;
}
.table-render, .table-body {
  border: solid 1px black;
}

.table-title {
  font-weight: bold;
}

.center {
  text-align: center;
}

.no-column {
  width: 80px;
}